@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --beaver: #9e7f66;
  --cod-gray: #111111;
  --mirage: #17192b;
  --ebony-clay: #242b37;
  --shuttle-gray: #5c6779;
}

html {
  font-family: "League Spartan", sans-serif;
  font-size: 62.5%;
}

header {
  height: 70rem;
  display: flex;
  position: relative;
  width: 100%;
}

.header-left {
  width: 20%;
  background-color: #000;
}

.header-left > img {
  position: absolute;
  top: 10%;
  left: 15%;
}

.header-left > h1 {
  font-size: 8rem;
  font-weight: lighter;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 15%;
  width: 40%;
}

.header-left > p {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 15%;
  width: 30%;
  line-height: 3rem;
  font-weight: lighter;
  opacity: 0.6;
}

.header-right {
  width: 80%;
}

.header-right > img {
  width: 100%;
  height: 70rem;
  object-fit: cover;
}

.header-btn {
  width: 25rem;
  height: 6.4rem;
  background-color: var(--cod-gray);
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  top: 65%;
  left: 15%;
}

.header-btn:hover {
  background-color: #fff;
  color: var(--cod-gray);
}

main {
  position: relative;
}

.curve-pattern1 {
  position: absolute;
  top: 10%;
}

.enjoy-img1 {
  position: absolute;
  top: -10%;
  left: 10%;
  width: 45rem;
  height: 74rem;
}

.enjoy-img1 > img {
  max-width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.enjoy-para1 {
  height: 55rem;
  /* display: flex;
  flex-direction: column; */
  text-align: left;
  justify-content: center;

  padding-top: 10%;
  padding-left: 50%;
}

.enjoy-para1 > img {
  padding-bottom: 2rem;
}

.enjoy-title {
  font-size: 4.8rem;
  font-weight: bold;
  width: 50%;
  padding-bottom: 2rem;
}

.enjoy-para {
  font-size: 2rem;
  width: 60%;
  font-weight: lighter;
  line-height: 3rem;
}

.curve-pattern2 {
  position: absolute;
  right: 0;
  top: 62%;
}

.enjoy-img2 {
  position: absolute;
  right: 10%;
  width: 45rem;
  height: 60rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.enjoy-img2 > img {
  max-width: 100%;
}

.enjoy-para2 {
  padding-left: 30%;
  padding-top: 10%;
  padding-bottom: 12rem;
}

.enjoy-para2 .enjoy-title {
  width: 50%;
}
.enjoy-para2 .enjoy-para {
  width: 37%;
}

.enjoy-para2 > img {
  padding-bottom: 2rem;
}

.lines {
  position: absolute;
  top: 70%;
  right: 2%;
}

.highlights {
  width: 100%;
  height: 70rem;
  display: flex;
  background-color: var(--cod-gray);
}

.highlight-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highlight-left > img {
  margin-bottom: 6rem;
  margin-right: 40rem;
}

.highlight-left > h1 {
  width: 70%;
  font-size: 4.8rem;
  color: #fff;
  padding-bottom: 2rem;
}
.highlight-left > p {
  font-size: 2rem;
  color: #fff;
  width: 70%;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  font-weight: lighter;
}

.highlight-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 12rem;
}

.highlight-item {
  display: flex;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-bottom: 1px solid rgba(158, 127, 102, 0.3);
}

.highlight-item > img {
  width: 12.8rem;
  height: 9.6rem;
}

.highlight-item-para {
  color: #fff;
}

.highlight-item-para > h2 {
  width: 70%;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}
.highlight-item-para > p {
  font-size: 1.6rem;
  width: 60%;
  font-weight: lighter;
  padding-left: 2rem;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

.events {
  border: 1px solid red;
  position: relative;
}

.events > img {
  position: absolute;
}

.event-pattern1 {
  left: -30%;
}
.event-pattern2 {
  left: 10%;
}

.events-left > img {
}
